body {                          /* bestämmer bakgrundsfärgen på sidan och hur stor den ska vara. */
    background-color: #1240C0;
    margin: 0;
    height: 100vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}               /* ^^ vilken font som ska användas ^^ */

.baspage {
    margin: auto;
    width: 96vw;
    min-height: 96vh;
    background-color:rgb(65,65,65);
    color: rgb(192, 146, 18);
}

.pagestil1 {                         /* alla sidor har olika varianter av denna gridden som ser lika dana ut men med olika main */
    display: grid;
    
    grid-template-areas:
      "head"
      "main"
      "foot";
    grid-template-rows: 140px 1fr 50px;
}                               /* den första raden har 140px den andra har 1 fraction och den tredje har 50px */
  
header {                        /* En grid i header med vart nav och Titel ska ligga. Den ska också läggas in i en grid så den har också fått ett grid namn */
    grid-area: head;
    display: grid;
    grid-template-areas:
    "Titel"
    "nav";
    grid-template-rows: 70px 70px;
}

h1 {                        /* bestämmer hur min titel ska finnas i en grid och hur den ska se ut */
    grid-area: Titel;
    text-align: center;
}
  
nav {                           /* berättar vad min nav ska heta i en grid*/
    grid-area: nav;
}

ul {
    display: grid;              /* Skapa min nav med jämna mellanrum */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    list-style-type: none;
    text-align:center;
    padding: 10px;
}

ol {                            /* skapa en border på en lista (runda hörn) */
    border: 2px solid rgba(192, 146, 18, 0.205);
    border-collapse: collapse;
    border-radius: 5px;
}

header a {                      /* här har jag en avkomlingsselektor för att göra mina länkar på i den globala menyn lite större */
    font-size: 1.1em;
}

a:link {                        /* Länk färg */
    color:rgb(18, 192, 146);
}
a:visited {                     /* länken byter färg när man har varit inne på den men jag byter till samma färg eftersom att den färgen är bra*/
    color:rgb(18, 192, 146);
}
a:focus {              /* länken byter färg om jag har den i fokus */
    color:rgb(182,200,250);
}
a:hover {              /* länken byter färg om jag håller över den */
    color:rgb(182,200,250);
}
a:active {                      /* när länken är aktiv(man håller nere musen på den) såbyter den till lila */
    color: rgb(101, 36, 107);
}

tr:nth-child(even) {            /* för att skapa zebra striping */
    background-color: rgb(90,90,90);
}

main {                          
    grid-area: main;            
}
  
footer {                        
    grid-area: foot;    
}

tr > td,tr > th {                      /* här använder jag en barn selector för att det var ett ställe där jag enkelt kunde andvända det */
    border: 1px solid black;
    text-align: center;  
    padding-top: 16px;
    padding-bottom: 16px;     
}

footer > p {
    text-align: center;
    font-size: 1em;             /* här använder ja 1em eftersom att det inte kommer göra någon skillnad på hur stor texten är */
}                               /* 1em gör att texten tar upp 1x så mycket plats som den ska vilket är samma om jag hade använt 2em hade den vart dubbelt så stor */

.sida1table {           /* här skapar jag border och bestämmer hur tabellen ska se ut */
    width:60%;                  /* den tar upp 60% av platsen den hade tagit upp annarsS */
    grid-area: tabell;
}

.vanligTabell {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;  /* här skapar jag en svart border med 1px brädd */
}

.vanligText {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.vanligTitel {
    margin: auto;
    font-size: 40px;
}

.underText {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.litenbild {
    width: 30vw;
    margin-left: 10px;
    margin-right: 10px;
}

.storbild {
    width: 50vw;
}

/*Grupp A + B --------------------------------------------------------*/
.pagestil2 {                        /* här är min grid layout till sidan för grupp A och B den är baserad på första gridden som alla andra*/
    display: grid;
    grid-template-areas:
      "head"
      "mainAB"
      "foot";
    grid-template-rows: 140px 1fr 50px;
}
                                /* CSS på denna sidan är ganska blandad så därför ligger inte de andra grids precis under */
.GruppABBild1{                  /* Här har jag storlek och margin på bild1 */
    grid-area: GruppABBild1;
}

.GruppABBild2{                  /* Här har jag storlek och margin på bild2 */
    grid-area: GruppABBild2;
}

.GruppABBild3{                  /* Här har jag bara storlek på bilden eftersomm att den är under de andra och ska vara en annan storlek */
    grid-area: GruppABBild3;
}

.Lorem_ipsum1{                  /* här har jag stylen för texten på sidan */
    grid-area: Lorem_ipsum1;
}

.Lorem_ipsum2{                  /* här har jag style för den andra texten på sidan som ska vara bredvid bild2 */
    grid-area: Lorem_ipsum2;
}

.titel1{                        /* här har jag stylen för titel1 som ska vara bredvid bild1 */
    grid-area: titel1;
}

.titel2{                        /* här har jag stylen för titel2 */
    grid-area: titel2;
}

.GruppAB > section:nth-child(1) {                   /* här har jag gridden för rad 1 av sidan som borde ha varit högre upp */
    grid-area: GruppABrad1;
    display: grid;
    grid-template-areas:
    "titel1       GruppABBild1"
    "Lorem_ipsum1 GruppABBild1";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px 1fr;
}

.GruppAB > section:nth-child(2){                   /* denna har bilden på andra sidan och den borde också ha varit högre upp */
    grid-area: GruppABrad2;
    display: grid;
    grid-template-areas:
    "GruppABBild2 titel2"
    "GruppABBild2 Lorem_ipsum2";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 60px 1fr;
}

.GruppAB > section:nth-child(3){                   /* Här är för rad3 som är mycket mer simpel eftersom att den bara innehåller en figure */
    grid-area: GruppABrad3;
    margin: auto;
}

.GruppAB{                       /* Grid för de olika raderna. Gridden är gjord på main och stoppas in i page gridden */
    grid-area: mainAB;
    height: auto;
    display: grid;
    grid-template-areas:
    "GruppABrad1"
    "GruppABrad2"
    "GruppABrad3";
    grid-template-rows: auto auto auto;
}

figcaption{                     /* här är style för figcaption för bilden och texten längst ner på sidan */
    text-align: center;
    font-size: 40px;
}

/* Grupp1 -------------------------------------------------*/
                                /* Mycket mer organiserad kod på denna biden */
.pagestil3 {                        /* Grid för Grupp1 */
    display: grid;
    grid-template-areas:
      "head"
      "main1"
      "foot";
    grid-template-rows: 140px 1fr 50px;
}

#Grupp1{                        /* Grid i main för de olika raderna */   
    grid-area: main1;
    height: auto;
    display: grid;
    grid-template-areas:
    "Grupp1rad1"
    "."
    "Grupp1rad2";
    grid-template-rows: auto 20px auto;
}

#Grupp1 > section:nth-child(1){                    /* style för rad 1 */
    grid-area: Grupp1rad1;
    display: grid;
    grid-template-areas:
    " KadettGrupp1 Lorem_ipsum ";
    grid-template-columns: 1fr 2fr;
}

#Grupp1 > section:nth-child(2){                    /* style för rad 2 där det finns en tabell och en lista */
    grid-area: Grupp1rad2;
    display: grid;
    grid-template-areas:
    " Grupp1Tabell "
    " märken ";
    grid-template-rows: auto auto;
}


#Grupp1Tabell {         /* style för tabellen som ha id=Grupp1Tabell. Denna inehåller border och färger och andra saker */
    width: 80vw;
    grid-area: Grupp1Tabell;
}

.KadettGrupp1{                  /* kadett grupp1 style */
    grid-area: KadettGrupp1;
}

#märken{                        /* style för lista med som har en border */
    grid-area: märken;
    margin-left: auto;
    margin-right: auto;
}

.Lorem_ipsum {
    grid-area: Lorem_ipsum;
}

/* WRC ----------------------------------------------------*/

.pagestil4 {                        /* Style för WRC sidan(grid design 4) */
    display: grid;
    grid-template-areas:
      "head"
      "mainWRC"
      "foot";
    grid-template-rows: 140px 1fr 50px;
}

#GruppWRC{                      /* main grid i WRC sidan. är 3 rader bred med ett mellanrumm mellan de olika raderna */
    grid-area: mainWRC;
    height: auto;
    display: grid;
    grid-template-areas:
    "WRCrad1 .       WRCrad2"
    ".       .       ."         /* rad med 50px mellanrum för att göra sidan änklare att läsa */
    "WRCrad3 WRCrad3 WRCrad3";
    grid-template-rows: auto 20px auto;
    grid-template-columns: 1fr 50px 1fr;
}

#GruppWRC > section:nth-child(1){                       /* rad 1 grid med bild och text under*/
    grid-area: WRCrad1;
    display: grid;
    grid-template-areas:
    " RepsolWRC "
    " Lorem_ipsum1WRC ";
    grid-template-rows: 1fr auto;
}

#GruppWRC > section:nth-child(2){                       /* rad 2 text som hamnar bredvid rad1 den har också bild och text */
    grid-area: WRCrad2;
    display: grid;
    grid-template-areas:
    " StratosWRC "
    " Lorem_ipsum2WRC ";
    grid-template-rows: 1fr auto;
}

#GruppWRC > section:nth-child(3){                       /* Grid för rad 3 för att få ett 2 spalt layout eftersom att jag inte vet vad de andra sidorna räknas som */
    grid-area: WRCrad3;
    display: grid;
    grid-template-areas: 
    " rallyvideo . Lorem_ipsum3WRC ";
    grid-template-columns: auto 20px auto;
}

.WRCbilder {
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

.RepsolWRC{                     /* Bild på WRC bil */
    grid-area: RepsolWRC;
}

.StratosWRC{                    /* en till bild på en Lancia stratos */
    grid-area: StratosWRC;
}

.Lorem_ipsum1WRC{               /* Text */
    grid-area: Lorem_ipsum1WRC;
}

.Lorem_ipsum2WRC{               /* Text */
    grid-area: Lorem_ipsum2WRC;
}

.Lorem_ipsum3WRC{               /* Lorem Ipsum */
    grid-area: Lorem_ipsum3WRC;
}

.rallyvideo{                    /* Rally video */
    grid-area: rallyvideo;
    height: 60vh;
}

/*---Formulär----------------------------------------------------------------*/

.pagestil5 {                        /* Style för formulärsidan(design 5) */
    display: grid;
    grid-template-areas:
      "head"
      "mainFormulär"
      "foot";
    grid-template-rows: 140px 1fr 50px;
}

#mainFormulär{                  /* Main för formulär sidan */
    grid-area: mainFormulär;
    height: auto;
}
                                /* här sätter jag margin, block och align på alla frågor och submit knappen i formuläret */
/*________________________________________*/

.formulärfrågor {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
}